*{letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: "Noto Serif TC", serif;
}

.bg-primary {
    background-color: #2f3552 ! important;
    background-image: url(../assets/img/sky.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

div.redred{
    padding: 10px;
    border: 10px solid orange;
    border-radius: 5px;
    margin: 0px 0px;

    background-color: #c9ebec;
    color:#6b77bb;
    border: 5px solid;
    background-image: url(--/assets/img/bg-seat.jpg);
    border-color: rgb(172, 190, 237);
    font-size: 17px;
    text-align: justify;
    text-indent: 2em;

}

.blueblue{
    color: #7b533e;
}

.expedu_icon{
    color:#648ab5
}

.expedu_icon:hover{
    background-color:white;
    color:#5c2f83;
}

table.noahtable th{
    text-align: center
    background-color white
    color rgb(120, 195, 224)
}

table.noahtable td{
    text-align: center;
}

.table-80{
    width: 80%;
}
