*{letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: "Noto Serif TC", serif;
}

p.redred{
    background-color: #c9ebec;
    color:#6b77bb;
    border: 5px solid;
    background-image: url(--/assets/img/bg-seat.jpg);
    border-color: rgb(109, 89, 89);
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
}

.blueblue{
    color: #7b533e;
}
.expedu_icon{
    color:#648ab5
}
.expedu_icon:hover{
    background-color:white;
    color:#CA8EFF;
}